.card-img-top {
    max-height: 300px;
    min-height: 150px;
    object-fit: contain;
}

.cabecero {
    background-size: cover;
    background-position: center;
    width: 100%;
    background: url(assets/bg-pattern.png), #7b4397;
    background: url(assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(assets/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430)
}

